# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Local Hardhat Ignition deployments
/ignition/deployments/chain-31337

# Typechain output
/types

# Hardhat coverage reports
/coverage
mappings.json

# Local development artifacts
serve.log
test-results/
*.log
uploads/
!uploads/.gitkeep
